<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera for augmented reality treasure hunting experiences.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses location services to place virtual treasures at real-world locations.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses location services to place virtual treasures at real-world locations.</string>
	<key>LOOTA_API_KEY</key>
	<string>AYOYloSpuBCcwAz5xMFs6Iei/e4UXrBsTmr8jAj063KWcFn46m5Jzj+FNq2hAYdD</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
